# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
!.env.sample

# AWS Amplify
amplify
.amplify-hosting
# amplify/team-provider-info.json

# AWS CDK
.cdk.staging
cdk.out
cdk.context.json
*.swp

# Infrastructure
infrastructure/node_modules
infrastructure/**/node_modules
infrastructure/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

